.navbar-aside.navbar-cart
	.navbar-cart-item
		.navbar-cart-item-left
			a.thumbnail.thumbnail-small( href='single-product.html' )
				+img( 'cart-navbar-01-72x91' )
		.navbar-cart-item-body
			a.navbar-cart-item-heading( href='single-product.html' ) Tulips Sympathy Bouquet
			.navbar-cart-item-price.d-flex.group-10.justify-content-between
				div
					='1 x '
					span.navbar-cart-item-price-value $35.00
				button.navbar-cart-remove.mdi-delete
	.navbar-cart-item
		.navbar-cart-item-left
			a.thumbnail.thumbnail-small( href='single-product.html' )
				+img( 'cart-navbar-02-72x91' )
		.navbar-cart-item-body
			a.navbar-cart-item-heading( href='single-product.html' ) Thoughtful Lily Bouquet
			.navbar-cart-item-price.d-flex.group-10.justify-content-between
				div
					='1 x '
					span.navbar-cart-item-price-value $35.00
				button.navbar-cart-remove.mdi-delete
	.navbar-cart-total Subtotal: $70.00
	a.btn.btn-sm.navbar-cart-btn( href='checkout.html' ) Checkout
