.widget
	h4.widget-title Tags
	.widget-body
		.group-10
			a.tag.tag-outline( href='#' ) News
			a.tag.tag-outline( href='#' ) Blog
			a.tag.tag-outline( href='#' ) Funeral
			a.tag.tag-outline( href='#' ) Floral
			a.tag.tag-outline( href='#' ) Tips
