.widget
	h4.widget-title Latest Posts
	.widget-body
		+post-small({
			img:      'latest-post-01-72x72',
			title:    'How to Choose a Funeral Home',
			date:     'May 10, 2020'
		})
		+post-small({
			img:      'latest-post-02-72x72',
			title:    'How to Help a Grieving Friend\n',
			date:     'May 10, 2020'
		})
