.widget
	h4.widget-title Popular Products
	.widget-body
		+product-small({
			img:      'product-thumb-01-72x91',
			title:    'Dreams from the Heart Bouquet',
			price:    '35'
		})
		+product-small({
			img:      'product-thumb-02-72x91',
			title:    'Tulips Sympathy Bouquet',
			price:    '35'
		})
