include ../logo/_logo
include ../post/_post
include ../rights/_rights

// Footer extended
footer.section.footer-extended.context-dark.bg-primary
	.container
		.row.row-30
			.col-md-3
				+logo.footer-logo.mt-1
				p.pl-xl-1.pr-xl-5 We are a family-owned funeral home offering high-quality services for remebering your loved ones and celebrating their lives.
			.col-md-5
				h4.footer-title Our Blog
				+post-minimal({
					title: '9 Ways You Can Support Grieving Families',
					date: 'January 12, 2020',
					tag: 'News'
				}).footer-post
				+post-minimal({
					title: 'Simple Mourning Rituals For The Modern Griever',
					date: 'January 12, 2020',
					tag: 'News'
				}).footer-post
				+post-minimal({
					title: '10 Inspirational Quotations About Grief',
					date: 'January 12, 2020',
					tag: 'News'
				}).footer-post
			.col-md-4
				h4.footer-title Quick Links
				.row.row-10.row-content
					.col-6.col-md-12.col-lg-6
						ul.list.list-sm
							li.list-item: a.link.link-inherit( href='#' ) Burials
							li.list-item: a.link.link-inherit( href='#' ) Flowers
							li.list-item: a.link.link-inherit( href='#' ) Memorial Services
							li.list-item: a.link.link-inherit( href='#' ) Cremations
							li.list-item: a.link.link-inherit( href='#' ) Funeral Planning
					.col-6.col-md-12.col-lg-6
						ul.list.list-sm
							li.list-item: a.link.link-inherit( href='about-us.html' ) About
							li.list-item: a.link.link-inherit( href='services.html' ) Services
							li.list-item: a.link.link-inherit( href='obituaries.html' ) Obituaries
							li.list-item: a.link.link-inherit( href='contacts.html' ) Contacts

		.divider.footer-divider.footer-divider-1

		.row.row-10.big
			.col-lg-6
				dl.term-list.term-list-inline
					dt Office:
					dd.h5: a.link.link-contrast( href='#' ) 793 Hickory Road, Brooklyn, NY 11230
			.col-lg-6
				.group-10.group-x-50.d-flex.flex-wrap
					div
						dl.term-list.term-list-inline
							dt= 'Tel: '
							dd: a.link.link-contrast( href='tel:#' ) 800.567.1234
					div
						dl.term-list.term-list-inline
							dt= 'E-mail: '
							dd: a.link.link-inherit( href='mailto:#' ) mail@demolink.org

		.divider.footer-divider

		.row.row-15
			.col-sm-8.col-lg-6
				.group-10.group-x-xl-40.d-flex.align-items-center.flex-wrap
					+rights-2
					div
						.group-10.group-lg-30
							a.icon.icon-md.icon-link.mdi-facebook( href='#' )
							a.icon.icon-md.icon-link.mdi-youtube-play( href='#' )
							a.icon.icon-md.icon-link.mdi-twitter( href='#' )
			.col-sm-4.col-lg-6.text-sm-right
				a.link.link-inherit( href='privacy-policy.html' ) Privacy Policy
