// About us
section.section.section-md.bg-transparent
	.container
		.row.row-25.row-xl-55
			.col-md-10.col-lg-9
				h2.text-decorated.text-decorated-large At Remony, we always work to provide compassionate and comfortable services that meet the needs of your family.
			.col-md-6.col-lg-8
				p.big Adipiscing inciderint est in. Ius nusquam oportere et, ius ea mazim definiebas scribentur, ne putent verterem necessitatibus quo. No quem nulla graece quo. Duo erat dicat consequuntur no, sed in graeco lucilius omittantur, vim inani saperet definiebas te. Oporteat tractatos nam cu, et eam idque putent tibique. Te wisi eleifend.
			.col-md-6.col-lg-4
				p.big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed.
