// Call to action
section.section.section-xxl.bg-transparent.text-center.bg-image.context-dark( style='background-image: url( images/bg-home-01.jpg )' )
	.container
		.row.justify-content-center
			.col-md-10.col-lg-9
				h2.h1 Eco funeral
				h4.h4-small Remony is proud to offer green burials that have less impact on the environment #[br.d-none.d-xl-block] and offer a more natural outdoor setting.
				a.btn.btn-white.mt-4( href='contacts.html' ) Get in Touch
