include ../post/_post

// Practice
section.section.section-md.bg-transparent
	.container.container-wide
		h2.h1.text-center Latest news
		.row.row-40.row-offset-lg.justify-content-center
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:   'home-09-422x228',
					title: '9 Ways Your Funeral Home Can Support Grieving Families',
					date:  'January 12, 2020'
				}).post-line-hover
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:   'home-10-422x228',
					title: 'Simple Mourning Rituals For The Modern Griever',
					date:  'January 12, 2020'
				}).post-line-hover
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:   'home-11-422x228',
					title: '10 Inspirational Quotations About Grief and Comforting',
					date:  'January 12, 2020'
				}).post-line-hover
			.col-xs-11.col-sm-6.col-lg-3
				+post-line({
					img:   'home-12-422x228',
					title: 'Sympathy Flowers: A Guide to Sending Flowers for Funerals',
					date:  'January 12, 2020'
				}).post-line-hover
