include ../person/_person

// Our team
section.section.section-md.bg-100.context-dark.text-center
	.container
		.row.row-30
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'obituaries-01-370x302',
					author: 'Anthony Green',
					description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
					position: 'October 7, 1927 - March 18, 2019'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'obituaries-02-370x302',
					author: 'Emily Mitchell',
					description: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco.',
					position: 'October 7, 1927 - March 18, 2019'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'obituaries-03-370x302',
					author: 'Oliver Barnett',
					description: 'Duis aute irure dolor in reprehenderit in voluptate.',
					position: 'October 7, 1927 - March 18, 2019'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'obituaries-04-370x302',
					author: 'Marilyn Adams',
					description: 'Excepteur sint occaecat cupidatat non proident, sunt in.',
					position: 'October 7, 1927 - March 18, 2019'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'obituaries-05-370x302',
					author: 'James Black',
					description: 'Sed ut perspiciatis unde omnis iste natus error sit.',
					position: 'October 7, 1927 - March 18, 2019'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'obituaries-06-370x302',
					author: 'Harry Young',
					description: 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur.',
					position: 'October 7, 1927 - March 18, 2019'
				})
