// Overview Practice
section.section.section-md.bg-transparent
	.container
		.row.row-30.row-xl-55.row-xxl-100.justify-content-between
			.col-md-8
				+img( 'single-service-01-769x431' )
				h2 Sympathy Flowers for Funerals
				p Adipiscing inciderint est in. Ius nusquam oportere et, ius ea mazim definiebas scribentur, ne putent verterem necessitatibus quo. No quem nulla graece quo. Duo erat dicat.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.row-25.row-offset-md
					.col-sm-6
						+img( 'single-service-02-349x373' )
					.col-sm-6
						h2 Service Overview
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						p Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
						.row.row-5.row-content.row-gutters-5
							.col-lg-6
								ul.list.list-marked.text-dark
									li.list-item Standing Sprays
									li.list-item Funeral Bouquets
									li.list-item Sympathy Bouquets
							.col-lg-6
								ul.list.list-marked.text-dark
									li.list-item Urn Tributes
									li.list-item Sympathy Plants
				h2 How to Buy Sympathy Flowers
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.

			.col-md-4.col-xl-3
				h3.text-primary Our Services
				ul.list.list-divided.list-divided-sm.big
					li.list-item: a.link.link-arrow( href='#' ) Burials
					li.list-item: a.link.link-arrow( href='#' ) Memorial Services
					li.list-item: a.link.link-arrow( href='#' ) Floral Arrangements
					li.list-item: a.link.link-arrow( href='#' ) Cremations
					li.list-item: a.link.link-arrow( href='#' ) Ship-Outs
					li.list-item: a.link.link-arrow( href='#' ) Funeral Planning
				a.btn.btn-block( href='#' ) Get in Touch
