// Practice
section.section.section-double-mod.bg-transparent
	.container
		.layout.layout-2
			.layout-media.bg-image( style='background-image: url(images/home-04-837x551.jpg)' )
			.layout-content.bg-100
				h2 We are here to help you
				p.big The experienced funeral directors at Remony Funeral Home will guide you through the aspects of the funeral service with compassion, dignity, and respect.
				+blurb-link-2({
					iconClass: 'fl-bigmug-line-clipboard68',
					title: 'Pre-planning',
					text: 'The best way to spare your loved ones the emotional and financial strain.'
				})
				+blurb-link-2({
					iconClass: 'fl-bigmug-line-circular220',
					title: 'Quality services',
					text: 'We offer high-quality services for families to create healing moments after loss.'
				})
