include ../product/_product

// Products grid
section.section.section-md.bg-transparent
	.container
		h3 Related products
		.row.row-40.row-xl-55
			.col-6.col-lg-3
				+product-simple({
					img:   'shop-01-270x359',
					title: 'Dreams from the Heart',
					price: '35.00'
				})

			.col-6.col-lg-3
				+product-simple({
					img:   'shop-02-270x359',
					title: 'Tulips Bouquet',
					price: '35.00'
				})

			.col-6.col-lg-3
				+product-simple({
					img:   'shop-03-270x359',
					title: 'Thoughtful Lily Bouquet',
					price: '35.00'
				})

			.col-6.col-lg-3
				+product-simple({
					img:   'shop-06-270x359',
					title: 'Burst of Light Bouquet',
					price: '35.00'
				})

