include ../process/_process

// Team member overview
section.section.section-md.bg-transparent
	.container
		.row.row-30.justify-content-center.justify-content-sm-between
			.col-8.col-8.col-md-6.col-lg-5.text-center.text-md-left
				.image-block
					+img( 'single-obituary-01-469x565' )
					.image-block-embed
						+process-2({
							value1: '1927',
							value2: '2019',
						})
			.col-md-6
				.group-5.d-flex.flex-wrap.align-items-center.justify-content-between
					h2 Emily Mitchell
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
				.address
					table
						tr
							td.address-title Date of birth:
							td.big October 7, 1927
						tr
							td.address-title Date of death:
							td.big March 18, 2019
				p Consequat tellus ut aliquam aliquam a ultricies felis, condimentum amet. Integer ipsum sapien consequat morbi. Vulputate quis vitae.
				p Pharetra, aliquam id fames fames placerat. Cursus risus eget a blandit suspendisse amet egestas euismod. Consectetur vel accumsan pellentesque vitae integer. Egestas tempor dui interdum egestas diam.
