extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
    - pageName = 'About';

block page
    +page-title({
        bgImage: 'images/bg-breadcrumbs-04.jpg'
    })
        +rd-navbar( data-rd-navbar= {responsive: {1200: {autoHeight: false}}} )
    include ../components/section/_about-us
    include ../components/section/_our-team-2
    include ../components/footer/_footer-extended
