extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'About Us';

block page
	+page-title({
		bgImage: 'images/bg-breadcrumbs-01.jpg'
	})
		+rd-navbar( data-rd-navbar= { responsive: { 1200: { autoHeight: false } } } )

	include ../components/section/_about-us
	include ../components/section/_about-us-2
	include ../components/section/_our-team-3
	include ../components/section/_counter-icon
	include ../components/section/_our-goals
	include ../components/footer/_footer-extended
