extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Single Service';

block page
	+page-title({
		bgImage:  'images/bg-breadcrumbs-03.jpg',
		title: 'Floral Arrangements'
	})
		+rd-navbar( data-rd-navbar= { responsive: { 1200: { autoHeight: false } } } )

	include ../components/section/_overview-practice
	include ../components/section/_consultation-form
	include ../components/footer/_footer-extended
